.parent {
    position: absolute;
    top: 50%;
    left: 50%;
}

.arc-1, .arc-2 {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    border: 10px solid;
}

.arc-1 {
    border-color: #030637 transparent transparent transparent;
    animation: spin-1 2s linear infinite;
}

.arc-2 {
    border-color: transparent transparent  #910A67 transparent;
    animation: spin-2 2s linear infinite;
}

@keyframes spin-1 {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(110deg); }
    50% { transform: rotate(220deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin-2 {
    0% { transform: rotate(360deg); }
    25% { transform: rotate(220deg); }
    50% { transform: rotate(110deg); }
    100% { transform: rotate(0deg); }
}